#suggestions {
    position: absolute;
    z-index: 1050;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

    #suggestions .list-group-item {
        cursor: pointer;
        transition: background-color 0.2s;
    }

        #suggestions .list-group-item:hover {
            background-color: #f8f9fa;
        }
